/* cousine-regular - latin */
@font-face {
  font-family: 'Cousine';
  src: local('Cousine Regular'), local('Cousine-Regular'),
       url('../fonts/cousine-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cousine-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* khula-regular - latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: local('Khula Regular'), local('Khula-Regular'),
       url('../fonts/khula-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/khula-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-baskerville - latin */
@font-face {
  font-family: 'libre-baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/libre-baskerville-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/libre-baskerville-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Aphic PL UKai - chinese */
@font-face {
  font-family: 'PL UKai';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ar-pl-ukai-cn.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ar-pl-ukai-cn.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/* lato - latin */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

