/* cousine-regular - latin */
@font-face {
  font-family: 'Cousine';
  src: local('Cousine Regular'), local('Cousine-Regular'),
       url('../fonts/cousine-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cousine-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* khula-regular - latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: local('Khula Regular'), local('Khula-Regular'),
       url('../fonts/khula-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/khula-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-baskerville - latin */
@font-face {
  font-family: 'Libre Baskerville';
  src: url('../fonts/libre-baskerville.woff2') format('woff2');
}

/* lato - latin */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Noto Sans - latin */
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/noto_sans.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto_sans.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Noto Sans - chinese - light */
@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 200;
  src: url('../fonts/noto_sans_sc-light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto_sans_sc-light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Noto Sans - chinese - light */
@font-face {
  font-family: 'Noto Sans SC';
  font-weight: 400;
  src: url('../fonts/noto_sans_sc-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto_sans_sc-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

